.artist-item {
    background-color: lightsalmon;
    max-width: fit-content;
    padding: 1rem .5rem;
    text-align: left;
    min-width: 150px;
}

.artist-item h4 {
    margin: 0;
    margin-bottom: 4px;
}

.artist-item span {
    text-transform: capitalize;
}

#searchResults {
    display: flex;
    gap: 1rem;
    flex-flow: row wrap;
    padding: 1rem;
}


.artist-body,
.artist-header {
    background-color: white;
    padding: .5rem;
}

.stage-name span {
    font-weight: bold;
}