<!-- Pending templates ARTIST-->
<template id="bookingPendingTemplateArtist">
    <div class="pending-item">
        <div class="pending-header">
            <h2 class="pending-name"></h2>
        </div>
        <div class="pending-body">
            <p><strong>Host Name:</strong> <span id="host-name"></span></p>
            <p><strong>Event Address:</strong> <span id="event-address"></span></p>
            <p><strong>Event Date:</strong> <span id="event-date"></span></p>
            <p><strong>Offer:</strong> <span id="request-offer"></span></p>
            <p><strong>Status:</strong> <span id="request-status"></span></p>


            <div class="response-div">
                <button id="accept-request">Accept</button>
                <button id="decline-request">Decline</button>
            </div>
        </div>
    </div>
</template>

<!-- Pending templates ORGANISER-->
<template id="bookingPendingTemplateOrganiser">
    <div class="pending-item">
        <div class="pending-header">
            <h2 class="pending-name"></h2>
        </div>
        <div class="pending-body">
            <p><strong>Host Name:</strong> <span id="host-name"></span></p>
            <p><strong>Event Address:</strong> <span id="event-address"></span></p>
            <p><strong>Event Date:</strong> <span id="event-date"></span></p>
            <p><strong>Offer:</strong> <span id="request-offer"></span></p>
            <p><strong>Status:</strong> <span id="request-status"></span></p>


            <div class="response-div">
                <!-- <button id="accept-request">Accept</button> -->
            </div>
        </div>
    </div>
</template>

<!-- Booking templates ARTIST/ORGANISER-->
<template id="bookingAcceptedTemplate">
    <div class="booking-item">
        <div class="booking-header">
            <h2 class="booking-name"></h2>
        </div>
        <div class="booking-body">
            <p><strong>Host Name:</strong> <span id="host-name"></span></p>
            <p><strong>Event Address:</strong> <span id="event-address"></span></p>
            <p><strong>Event Date:</strong> <span id="event-date"></span></p>
            <p><strong>Offer:</strong> <span id="request-offer"></span></p>
            <p><strong>Status:</strong> <span id="request-status"></span></p>
        </div>
    </div>
</template>